@import '_headerStyle';
@import '_footerStyle';
@import '_bodyStyle';
@import '_lifeStyle';
@import '_celebcardsStyle';
@import '_videosStyle';
@import '_bodyStyle2';
@import '_socialIconStyle';
@import '_popularPostStyle';
@import '_instashotsStyle';


*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: ﻿DroidSerif-Bold, ﻿AdobeInvisFont, ﻿MyriadPro-Regular;
}

